/*                  nunito sans serief font family for whole website */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

/*                                over all web main container style          */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*                                middle desing box details container style */

/*                                 Top message box container */

.inner-top-box{
    text-align: center;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}
.inner-top-box h1{
    color: #022b42;
    font-size: 40px;
}
.inner-top-box h5{
    color:#6fc210;
    font-size: 17px;
}

/*                                           Buttom message box container */
.inner-bottom-box{
    width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-columns:repeat(3,320px) ;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
 
/*                                      first form box destails styles  */

.first-form-box{
    width: 320px;
    height: 350px;
}
.first-form-box >h3{
    font-size: 22px;
    padding: 10px 0;
    color: rgb(23, 23, 70);
    
}
.first-form-box p{
   color: gray;
}
.form-details{
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.form-details button{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    background-color: #61aa0d;
    border: none;
}
.form-details button i{
    font-size: 20px;
    color: white;
}
.form-move h4{
    font-size: 20px;
    padding-bottom: 7px;
    color:#61aa0d;
}
.form-move p{
    color: gray;
}

/*                                      second map form box destails styles  */

.second-map-box{
    width: 320px;
    height: 350px;
}

/*                                      Third contact form box destails styles  */

.third-form-box{
    width: 320px;
    height: 350px;
}
.third-form-box input{
    padding: 20px;
    margin-bottom: 18px;
}
.third-form-box textarea{
    margin-bottom: 18px;
    padding: 20px;
}
.third-form-box button{
    width: 100%;
    padding: 20px;
    background-color: #61aa0d;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.first-in{
    width: 49%;
}
.last-in{
    width: 100%;
}
.third-form-box textarea:hover,input:hover{
    border-color:#61aa0d;
}
    
/*                       Responsive design styles  */

/*                              Tab Screen  */
@media only screen and (min-width:750px) and (max-width:990px){
    .inner-top-box h1{
        font-size: 35px;
    }
    .inner-bottom-box{
        grid-template-columns: repeat(2,350px); 
    }
    .first-form-box{
        width: auto;
        margin-top: 30px;
    }
    .second-map-box{
        width: auto;
        margin-top: 50px;

    }
    .first-in{
        width: 49%;
        margin-top: 30px;
    }
    .space-in{
        margin-right: 5px;
    }
    .third-form-box{
        width: 700px;
        margin-top:30px;
    }
}

/*                           Mobile Screen  */

@media only screen  and (max-width:750px){
    .inner-top-box h1{
        font-size: 30px;
    }
    .inner-bottom-box{
        grid-template-columns: auto;
        width: auto;
        padding: 10px;
    }
    .first-form-box{
        width: auto;
        margin-top: 30px;
        margin-left:50px;
        margin-right: 50px;

    }
    .second-map-box{
        width: auto;
        margin-top: 50px;
        margin-left:50px;
        margin-right: 50px; 
    }
    .third-form-box{
        margin-top: 30px;
        width: auto;
        margin-left:50px;
        margin-right: 50px;}

    .first-in{
        width: 100%;
    }
}

/*                     Loptop Screen Responsive  */

@media only screen and (min-width:990px) {
    .inner-bottom-box{
        gap: 10px;
        padding: 30px;
    }
    .first-form-box{
        width: 300px;
    }
    .second-map-box{
        width: 300px;
    }
    .third-form-box{
        width:300px;
    }
}
