/* nunito sans serief font family for whole website */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--font);
}
/* colors for our website */
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
    --font:'Nunito', sans-serif;
}
/* styles for header section */
/* top-bar styles */
header .top-bar{
    height:45px;
    background-color:var(--dark);
    color:var(--light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 3em; 
}
/* left-side address area in top bar */
.top-bar small i{
    padding:5px;
}
.off-address{
    display:inline-flex;
    gap:15px;
}
/* right side area in top-bar */
.top-bar .right-social i{
  border:1px solid var(--light);
  padding:8px;
  border-radius:50%; 
}
.top-bar .right-social{
    display:inline-flex;
    gap:10px;
}
/* top bar ends */

/* navigation  bar and banner styles starts */
.banner{
    height:100vh;
    width:100%;
    background:linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)),url('../images/bg-hero.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
/* navigation bar styles */
nav{
    background-color:var(--light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:80px;
    padding:0px 30px;
    background-color:transparent;
    border-bottom:0.5px solid var(--light);
}
/* logo design */
nav h1{
   color:var(--primary);
   font-size:40px;
   cursor:pointer;
}
/* navigation links styles */
.nav-links ul{
    list-style-type:none;
    display:flex;
    gap:15px;
    padding:5px 10px;   
}
.nav-links ul li{
  display:inline-block;
  padding:5px 15px;
  text-transform:capitalize; 
  color:var(--light);
}
.nav-links ul li a:hover{
    color:var(--primary);
}
/* this is anchor and anchor after element styles*/
ul li a{
    position:relative;
    transition:ease-in-out 0.5s;
    display:inline-block;
    text-decoration:none;
    color:var(--light);
}
ul li a::before,
ul li a::after{
    content:"";
    width:0;
    background-color:var(--light);
    height:0.5px;
    position:absolute;
}
ul li a::after{
    right:0;
    bottom:-2px;
}
ul li a:hover:before,
ul li a:hover:after{
   width:100%;
   transition:ease 0.5s;
}
/*this style for register buton in navigation bar */
.nav-links ul .last-child{
    background-color:var(--primary);
    padding:0 30px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--light);
}
.nav-links ul .last-child:hover{
    background-color:var(--light);
}
.nav-links ul .last-child:hover a{
    color:var(--primary);
}
.nav-links ul li:last-child a::before,
.nav-links ul li:last-child a::after{
    display:none;
}
.nav-links ul li button{
    border-radius:10px;
    padding:5px 10px;
}
/* style for angle down arrow in dropdown menu */
ul li .fa-angle-down{
    padding-left:0px;
}

/* navigaion bar sicky at the top:0 */
header nav{
    position:sticky;
    top:0;
}
/* dropdown menu design */
nav ul li{
    position:relative;
}
ul li .dropdown-menu{
    display:flex;
    flex-direction:column;
    background-color:var(--light);
    position:absolute;
    top:55px;
    left:-20px;
    width:150px;
    display:none;
}

ul li .dropdown-menu a{
    color:var(--dark);
}
/* dropdown view during the hovering */
ul .dropdown-li:hover .dropdown-menu{
    display:block;
}
/* responsive navigation bar styles */
nav .fa-bars,nav label{
    display:none;
    color:var(--light);
}
nav input{
    display:none;
}
/* media query for responsive navigation bar */
@media only screen and (max-width:1040px){
    nav .fa-bars,nav label{
        display:inline-block;
    }
    nav .fa-x{
        display:none;
    }
    .nav-links{
        position:fixed;
        top:80px;
        width:100%;
        left:-100%;
        transition:all 1s;
    }
    .nav-links ul{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:20px;
    }
    ul li .dropdown-menu{
        left:100px;
        top:5px;
        z-index:99;
        background-color:rgba(128, 128, 128,0.4); 
    }
    ul li .dropdown-menu li a{
        color:var(--light);
    }
    ul li a{
        font-size:18px;
        letter-spacing: 2px;
    }
    header .top-bar{
        display:none;
    }
    nav input:checked~.nav-links{
            left:0;
    }
    nav input:checked ~label .fa-bars{
        display:none;
   }
   nav input:checked ~label .fa-x{
     display:inline-block;
     font-weight:bold;
     color:var(--light-color);
     cursor:pointer;
   }
   ul li{
    padding:10px 0;
   }
}

