/* nunito sans serief font family for whole website */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font family for whole website */
    font-family: 'Gugi', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
/* colors for our website */
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}
/* styles for header section */
/* top-bar styles */
header .top-bar{
    height:45px;
    color:var(--light);
}
.top-bar .address{
    background-color:#FE8800;
}
small i{
    padding-right:5px;
}
.top-bar .top-bar-social a{
    display:inline-block;
}

