/* nunito sans serief font family for whole website */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* font family for whole website */
    font-family: 'Gugi', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
/* colors for our website */
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}
/* styles for header section */
/* top-bar styles */
header .top-bar{
    height:45px;
    background-color:var(--dark);
    color:var(--light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 3em;
    
}
/* left-side address area in top bar */
.top-bar small i{
    padding:5px;
}

.off-address{
    display:inline-flex;
    gap:15px;
}
/* right side area in top-bar */
.top-bar .right-social i{
  border:1px solid var(--light);
  padding:8px;
  border-radius:50%; 
}
.top-bar .right-social{
    display:inline-flex;
    gap:10px;
}


