@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
     /* font family for whole website */
     font-family: 'Gugi', sans-serif;
     font-family: 'Nunito Sans', sans-serif;
}
/* -------root--------------- */
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}
/* ------------body----------------------- */
body{
    background-color: var(--dark);
}
.over-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------form-image------------------ */
.form-image{
  height:700px;
  width:55%;
  
}
.form-image img{
    height:100%;
    width:100%;
    object-fit: cover;
    filter: brightness(50%);
    
}

/* ------------form-container------------------- */
.form-container{
    background-color:rgba(237, 224, 224, 0.737);
    width:28%;
    padding:10px 20px;
    height:700px;

}

h1{
    padding-bottom:15px;
}
p{
    padding-bottom:30px;
}
 /* ------------gender------------------- */
 .gender{
    padding-bottom:15px;
 }
/* --------Register-button---------------- */
   button{
    padding:10px;
    border:none;
    background-color:var(--secondary);
    border-radius:10px;
    width:40%;
    font-size:15px;
    font-weight: 600;
    
   }
   button~p{
    padding-top:20px;
    margin-left:50px;
   } 
/* ----------input-types--------------------- */
input[type=text],input[type=password],input[type=email]{
    padding:10px;
    border:none;
    width:100%;
    margin-bottom:10px;
    border-radius:10px;  
}
/* --------input-------------------------------- */
input{
    outline:none;
    
}
/* ---------------animate--all----containers----- */
.fn-container,.ln-container,.email-container,.password-container,.confirm-password-container{
    position:relative;
}
/* ---------------animate--all----label--------- */
.fn-container label,.ln-container label,.email-container label,.password-container label,.confirm-password-container label{
    position:absolute;
    top:8px;
    padding-left:10px;
}
/* -----------------input-focus---------------- */
input:focus~label{
   transform:translateY(-27px);
   transition:ease 1s;
   
}
/* ---------------icon-insert-containers-------- */
.email-container,.password-container,.fn-container{
    position: relative;
     display:flex;
     padding-bottom:20px;
    
}
/* --------------icon-position-------------------- */
i{
    position:absolute;
    right:10px;
    top:10px;
    font-size:20px;
    z-index:1;
    padding-left:15px;
    background-color:white;
}

/* ------------------------------media-quary--------------------------------------------- */
/* -------------mobile-view-------------------- */
@media screen and (min-width:320px) and (max-width:500px){
    /* ----------over--all----------- */
    .over-all{
        flex-direction: column;
    }
/* ------form-image-------------- */
.form-image{
  height:400px;
  width:100%;
  
}
.form-image img{
    height:100%;
    width:100%;
    object-fit: cover;
    filter: brightness(50%);
    
}
 /* ----------form-container----------- */
    .form-container{
        width:100%;
    }
    button~p{
        padding-top:20px;
        margin-left:28px;
       } 
   
}
/* -------------tablet-view-------------------- */
@media screen and (min-width:500px) and (max-width:800px){
    .form-container{
        width:70%;
    }
    button~p{
        padding-top:20px;
        margin-left:50px;
       } 
}
