*{
    box-sizing:border-box;
    margin:0;
    padding:0;
     /* font family for whole website */
     font-family: 'Gugi', sans-serif;
     font-family: 'Nunito Sans', sans-serif;
}
/* -------root--------------- */
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}
.form-container{
    border:1px solid red;
}
h1,p{
    padding-bottom:10px;
}
/* ----------label----------- */
label{
    display: block;
    padding-bottom:5px;
}
/* ----------input------------------ */
input[type=text]{
    padding:7px;
    outline:none;
}
